@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
*{
    box-sizing: border-box;
}
body {
    font-family: "Inter", sans-serif;
}

.navbar {
    max-width: 870px;
    width: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav-list {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 24px;
}

.nav-link {
    text-decoration: none;
    color: #BF7506;
    font-size: 16px;
    line-height: 150%;
}

.nav-link.active {
    font-weight: 700;
}

.container {
    max-width: 870px;
    width: 100%;
    margin: auto;
}

.header {
    padding: 70px 0;
    display: flex;
    align-items: center;
}

.header-text {
    margin-left: 27px;
}

.header-strong {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
}

.header-heading {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    margin-top: 8px;
    margin-bottom: 24px;
}

.header-primary {
    color: #BF7506;
}

.social-list {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
}

.social-link {
    display: inline-block;
    padding: 8px;
}

.header-links {
    display: flex;
    align-items: center;
}

.cv-download {
    padding: 7px 8px;
    margin-left: 55px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    border-bottom: 2px solid #BF7506;
}

.cv-icon {
    margin-right: 8px;
}

.section-heading {
    font-weight: 700;
    font-size: 48px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
}

.cards {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.card {
    max-width: 400px;
    margin-bottom: 40px;
}

.card-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.02em;
    color: #BF7506;
}

.card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
}

.card-buttons {
    display: flex;
    align-items: center;
}

.card-button {
    /* display: flex; */
    align-items: center;
    padding: 7px 8px;
    text-decoration: none;
    color: #211B12;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    border-bottom: 2px solid #BF7506;
    margin-right: 25px;
}

.card-button-icon {
    margin-right: 4px;
}

.card-text-wrapper {
    padding: 16px;
    margin-top: 0;
    margin-bottom: 8px;
}

.tags {
    list-style: none;
    padding: 0;
    display: flex;
    align-items: center;
    gap: 4px;
}

.tag {
    text-decoration: none;
    padding: 4px 8px;
    display: inline-block;
    border: 1px solid #DD9C3C;
    background: white;
    border-radius: 4px;
    padding: 5px 8px 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 150%;
    color: #211B12;
}


.developer {
    padding: 80px 0 20px;
    display: flex;
    align-items: center;
}

.developer-photo {
    width: 360px;
    height: 440px;
    flex-shrink: 0;
    object-fit: cover;
}

.developer-about {
    margin-left: 55px;
}

.developer-hello {
    font-size: 24px;
    line-height: 135%;
    letter-spacing: -0.03em;
    color: #211B12;
}

.developer-title {
    font-weight: 700;
    font-size: 32px;
    line-height: 125%;
    letter-spacing: -0.03em;
    color: #BF7506;
    margin-top: 4px;
    margin-bottom: 16px;
}

.developer-text {
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
}

.motto {
    font-size: 24px;
    line-height: 150%;
    color: #DD9C3C;
    margin: 16px 0;
}


.developer-sign {
    max-width: 200px;
}

.skills {
    padding: 20px 0;
}

.skills-title {
    font-weight: 700;
    font-size: 24px;
    line-height: 135%;
    color: #211B12;
}

.feedback {
    padding: 80px 0 160px;
}

.feedback-title {}

.input-group {
    position: relative;
    padding-top: 9px;
    margin-bottom: 24px;
}

.input-label {
    position: absolute;
    font-size: 16px;
    line-height: 150%;
    color: #83807c;
    padding: 0 8px;
    background-color: #fff;
    top: 0;
    left: 16px;
}

.input {
    border: 3px solid #E0DEDC;
    border-radius: 4px;
    width: 435px;
    height: 56px;
}

.textarea {
    min-height: 140px;
}

.form-container {
    max-width: 435px;
    margin: auto;
}

.submit-button {
    padding: 7px 8px;
    display: flex;
    align-items: center;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    color: #211B12;
    border: none;
    border-bottom: 2px solid #BF7506;
    background-color: #fff;
    cursor: pointer;
}

.button-group{
    display: flex;
    justify-content: flex-end;
}